.popup {
    display: none;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding:20px;
    border-radius:5px;
    z-index:200;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}

.settings-menu {
    position: fixed;
    left: -300px;
    top: 40;
    width: 300px;
    height: 100%;
    background-color: #f1f1f1;
    transition: left 0.3s ease;
    z-index: 1000;
}

.settings-menu.active {
    left: 0;
  }  


.mainPage {
    background-image: url("../assets/Bob\ Start.png"), url("../assets/Window\ Frame.png"), url("../assets/Background_Sky.png");
}

.timerPage {
    background-image: url("../assets/Window\ Frame.png"), url("../assets/Background_Sky.png");
}

.timerPage.lockedIn{
    background-image: url("../assets/Bob\ Focus.png"), url("../assets/Window\ Frame.png"), url("../assets/Background_Sky.png");
}

.timerPage.relaxed{
    background-image: url("../assets/Relaxed\ Bob.png"), url("../assets/Window\ Frame.png"), url("../assets/Background_Sky.png");
}

.finishedPage {
    background-image: url("../assets/Bob\ Finished.png"), url("../assets/Window\ Frame.png"), url("../assets/Background_Sky.png");
}
